<!DOCTYPE html>
<html lang="en">
<%- include('./head.ejs', { title }) %>
<body>
    <h1>GUILDS!</h1>
    <p>You are currently a member of the following guilds</p>
    <ul>
        <% guilds.forEach(g => { %>
          <li><%= g.id %> :: <%= g.name %></li>
        <% }) %>
    </ul>
    <a href="/user">Click here to view your own details.</a>
</body>
</html>