<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="specimen_files/specimen_stylesheet.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8"/>
<style type="text/css">
        		body {
			font-family: 'chinese_rocksregular';
            background-image: url("https://wallpapercave.com/wp/wp3770433.jpg");
    background-position: center;
    background-size: cover;
    background-color: #000000;
    height: 700px;
    background-repeat: no-repeat;
        		}
                
  div.aa {
    text-align: center;
    position: absolute;
    color: #ffffff;
    font-size: 200%;
    top: 50%;
    left:50%;
    font-family: 'chinese_rocksregular';
    transform: translateX(-50%) translateY(-50%);
    text-shadow: -1px 1px 0 #000000,
				  1px 1px 0 #000000,
				 1px -1px 0 #000000;
				-1px -1px 0 #000000;
}


            </style>
</head>
  <%- include('./head.ejs', { title }) %>
  <body>
    <div class="aa">

    <h1>Authentification Requise !</h1>
    <phref="<%= link %>">Verification</p>
    
    </div>
  </body>
</html>