<!DOCTYPE html>
<html lang="en">
  <%- include('./head.ejs', { title }) %>
  <head>
  <style type="text/css">
        		body {
			font-family: 'chinese_rocksregular';
            background-image: url("https://wallpapercave.com/wp/wp3770433.jpg");
    background-position: center;
    background-size: cover;
    background-color: #000000;
    height: 700px;
    background-repeat: no-repeat;
        		}
            </style>
  </head>
  <body>
  <div class="aa">
    <h1>Cliquez ci dessous pour vous authentifier</h1>
    <a href="<%= link %>">Vérification</a>
        </div>
  </body>
</html>
