<!DOCTYPE html>
<html lang="en">
<link rel='stylesheet' href='./styles/style.css' />
  <%- include('./head.ejs', { title }) %>
  <body>
  <div class="aa">
    <h1>Cliquez ci dessous pour vous authentifier</h1>
    <a href="<%= link %>">Vérification</a>
        </div>
  </body>
</html>
