<!DOCTYPE html>
<html lang="en">
  <%- include('./head.ejs', { title }) %>
  <head>
  <link rel="stylesheet" href="./specimen_files/specimen_stylesheet.css" type="text/css" charset="utf-8"/>
  <style type="text/css">
  @font-face {
    font-family: 'chinese_rocksregular';
    src: url('chinese_rocks_rg-webfont.woff2') format('woff2'),
         url('chinese_rocks_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  
  
        		body {
			font-family: 'chinese_rocksregular';
            background-image: url("https://wallpapercave.com/wp/wp3770433.jpg");
    background-position: center;
    background-size: cover;
    background-color: #000000;
    height: 700px;
    background-repeat: no-repeat;
        		}
			
			div.aa {
    text-align: center;
    position: absolute;
    color: #ffffff;
    font-size: 200%;
    top: 50%;
    left:50%;
    font-family: 'chinese_rocksregular';
    transform: translateX(-50%) translateY(-50%);
    text-shadow: -1px 1px 0 #000000,
				  1px 1px 0 #000000,
				 1px -1px 0 #000000;
				-1px -1px 0 #000000;
}
            </style>
  </head>
  <body>
  <div class="aa">
    <h1>Cliquez ci dessous pour vous authentifier</h1>
    <a href="<%= link %>">Vérification</a>
        </div>
  </body>
</html>
